# OS-specific
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Build / distribution
build/
dist/
*.egg-info/
*.egg
.eggs/

# Logs and runtime files
*.log
*.pid
*.seed
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Environment variables
.envrc
.env.local
.env.*.local

# Neovim / Vim
*.swp
*.swo
*.swn
*.tmp
Session.vim
.tagged

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
